{% extends 'cardeals/base.html' %}

{% block title %} Lancer Deals {% endblock %}
{% block model %} Mitsubishi  Lancer {% endblock %}
{% block content %}
    {% if deal.model == "Lancer" %}
    <div class="col-3" id="main">
        <ul>
            <br><li><a href="{{ deal.url }}" target="_blank"> www.otomoto.pl</a></li>
            <li> {{ deal.model }}</li>
            <li> {{ deal.year }}</li>
            <li> <span class="price">{{ deal.price }}</span> {{ deal.currency }}</li>
            <li> <span class="mileage">{{ deal.mileage }}</span> km</li>
            <li> {{ deal.add_date }}</li><br>
        </ul>
    </div>
    {% endif %}
{% endblock %}